<div class="uml-editor-correctness">
  <div class="uml-editor-correctness__part --warn">
    <uml-editor [diagram]="diagram" />
  </div>
  <div class="uml-editor-correctness__part --success">
    <uml-editor [diagram]="correctAnswer" />
  </div>
  <div class="uml-editor-correctness__fab-section">
    <button type="button" mat-fab color="accent" (click)="copyPromptToClipboard()">
      <mat-icon>save</mat-icon>
    </button>
    <button type="button" mat-fab color="accent" (click)="correctDiagram()">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
