:host {
  display: block;
  width: 100%;
  height: 100%;

  .uml-editor-correctness {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
  }

  .uml-editor-correctness__part {
    position: relative;
    width: 100%;
    height: 100%;

    &.--warn {
      --background-color: orange;
    }

    &.--success {
      --background-color: green;
    }

    ::before {
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      opacity: 0.04;
      z-index: 10;
      background-color: var(--background-color);
    }
  }

  .uml-editor-correctness__fab-section {
    position: absolute;
    display: flex;
    gap: 16px;
    bottom: 16px;
    right: 100px;
    z-index: 9999;
  }
}
