<h2 class="mat-h2">Link Config</h2>

<section class="link-configuration">
  <button mat-raised-button color="basic" (click)="swapDirection()">
    <mat-icon>swap_horiz</mat-icon>
    Direction
  </button>

  <mat-form-field>
    <mat-label>Arrow type (end)</mat-label>
    <mat-select>
      @for (arrow of arrows; track arrow) {
        <mat-option [value]="arrow">{{ arrow }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Arrow type (start)</mat-label>
    <mat-select>
      @for (arrow of arrows; track arrow) {
        <mat-option [value]="arrow">{{ arrow }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Line type</mat-label>
    <mat-select>
      @for (line of lines; track line) {
        <mat-option [value]="line">{{ line }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</section>