/* Split the screen in half */
.split {
    height: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

  }
  
  /* Control the left side */
  .left {
      border-right: black solid;
      left: 0;
      width: 30%;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 70%;
  }
  

  .centered {
/* If you want the content centered horizontally and verticallyposition: absolute;
top: 50%;
left: 50%;
transform: translate(-20%, -20%);
text-align: center;*/
      padding-left: 50px;
      width: 80%;
      height: 80%;
}