:host {
  display: block;
  height: 100%;
  width: 100%;

  .uml-editor {
    height: 100%;
    width: 100%;
  }

  .uml-editor__toggle {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .uml-editor__menu {
    width: 30%;
  }
}
