:host {
  display: block;
  height: 100%;
  width: 300px;
  background-color: white;
  overflow: auto;

  .property-editor__toggle {
    z-index: 99999;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .property-editor {
    padding: 16px;
    overflow: auto;
  }
}
